<div class="container">
  <div class="row">
    <h3>{{ titulo }}</h3>
  </div>
  <hr />
</div>

<app-formulario (personaCreada)="personaAgregada($event)"></app-formulario>

<div class="container">
  <div class="row">
    <h3>{{ titulo2 }}</h3>
  </div>
</div>

<div class="container">
  <form class="row">
    <div class="group col-md-2">
      <label for="nombreCarro" class="sr-only">Nombre Carro</label>
      <input
        type="text"
        name="nombreCarro"
        id="nombreCarro"
        placeholder="Nombre Carro"
        class="form-control"
        [(ngModel)]="nombreCarroInput"
      />
    </div>
    <div class="group col-md-2">
      <label for="marcCarro" class="sr-only">Marca Carro</label>
      <input
        type="text"
        name="marcaCarro"
        id="marcaCarro"
        placeholder="marcaCarro"
        class="form-control"
        [(ngModel)]="marcaCarroInput"
      />
    </div>
    <div class="group col-md-2">
      <label for="anio" class="sr-only">Año</label>
      <input
        type="text"
        name="anioCarro"
        id="anioCarro"
        placeholder="anioCarro"
        class="form-control"
        [(ngModel)]="anioCarroInput"
      />
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="agregarCarro()">
        Agregar Carro
      </button>
    </div>
  </form>
  <hr />
</div>

<!--
<div class="container">
  <div class="row">
    <div class="col">
      <div *ngFor="let carro of carros ; let i = index">
        {{i+1}} {{carro.nombreCarro}} {{carro.marca}} {{carro.anio}}
      </div>
    </div>
  </div>
</div>
-->

<app-persona
  *ngFor="let personaElemento of personas; let i = index"
  [persona]="personaElemento"
  [indice]="i"
>
</app-persona>
<hr />
<app-carro
  *ngFor="let carroElemente of carros; let i = index"
  [carro]="carroElemente"
  [indice]="i"
>
</app-carro>
